/* ======= Colors ======= */
div.home{
	background-color: red;
	padding: 10px;
	margin-bottom: 20px;
}
div.about{
	background-color: orange;
	padding: 10px;
	margin-bottom: 20px;
}
div.calendar{
	background-color: yellow;
	padding: 10px;
	margin-bottom: 20px;
}
div.how_to_join{
	background-color: green;
	padding: 10px;
	margin-bottom: 20px;
}
/* ======= Typography ======= */

h1 {
	
}

h2 {
	
}

h3 {
	
}

h4 {
	
}

h5 {
	
}

h6 {
	
}

p {
	
}


/* ======= Home Page ======= */